@font-face {
  font-family: "iconfont"; /* Project id 4362890 */
  src: url('iconfont.eot?t=1702019840238'); /* IE9 */
  src: url('iconfont.eot?t=1702019840238#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('iconfont.woff?t=1702019840238') format('woff'),
       url('iconfont.ttf?t=1702019840238') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-bianji1:before {
  content: "\e777";
}

.icon-shuyi_wendangfanyi:before {
  content: "\e666";
}

.icon-gongwenbao:before {
  content: "\e66b";
}

.icon-xiangshang:before {
  content: "\e600";
}

.icon-xiangxia:before {
  content: "\e601";
}

.icon-daohang:before {
  content: "\e610";
}

.icon-file-txt-fill:before {
  content: "\e648";
}

.icon-xiazai:before {
  content: "\e7bd";
}

.icon-jigou:before {
  content: "\e7a0";
}

.icon-xiajiantou_huaban:before {
  content: "\e63f";
}

.icon-sousuo:before {
  content: "\eafe";
}

.icon-guanbi2:before {
  content: "\e725";
}

.icon-bianji:before {
  content: "\e659";
}

.icon-daibanshixiang:before {
  content: "\ec4e";
}

.icon-24gf-telephone:before {
  content: "\e96c";
}

.icon--didian:before {
  content: "\e6b4";
}

.icon-daibanshixiang1:before {
  content: "\e642";
}

.icon-weizhi:before {
  content: "\e63e";
}

.icon-xiangmuwendang:before {
  content: "\ea48";
}

.icon-zuojiantou:before {
  content: "\e64e";
}

